<a href="https://colab.research.google.com/github/JOKER-NISHANTH/Python100Programs/blob/main/100DaysPythonCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day 1
 **Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.**

In [ ]:
result=[]

for i in range(2000,3201):
  
  if (i%7==0 and not (i%5==0)):
    result.append(str(i))
print(result)
print(",".join(result))

In [ ]:
for num in range(2000,32001):
  if (num%7==0 and num%5!=0):

    print(num,end=",")

In [ ]:
result = [ str(i) for i in range(2000,3201) if ((i%7==0) and not (i%5==0))]

print(result)
print(",".join(result))



------------



------------

# Day 2 
**Write a program which can compute the factorial of a given numbers.
The results should be printed in a single line.**

-----------
```
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320
```

In [ ]:
# Using Loop

fact = int(input("Enter your number  : "))
Result = 1
for i in range(2,fact+1):
  Result = Result *i
print(Result)

In [ ]:
# Using Loop

fact = int(input("Enter your number  : "))
Result = 1
for i in range(2,fact+1):
  Result *= i
print(Result)

In [ ]:
# Using Function
# Best Example for RECURSION Function  

# RECURSION Function called by itself

def fact(factnumber):
  if factnumber ==0:
      return 1
  return factnumber * fact(factnumber -1)

print(fact(15))



------------





------------

#Day 3 

**With a given integer number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.**


```
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
```

In [ ]:
# Dictionary = {"key":"value"}  <<<  dict() is Object   >>>
# Dict={}
Dict=dict()
Num = int(input(" Enter the Value"))
i=1
while(i<Num+1):
  Dict[i] = i*i
  i+=1
  # How's loop Running
  print(Dict)

In [ ]:
# Using While loop
D = dict()
n=int(input("Enter your number"))
i=1
while (i<=n):
  D[i]=i*i
  i+=1
print(D)

In [ ]:

# Using For Loop
Dic = {}
n - int(input("Enter the value"))
for i in range(1,n+1):
  Dic[i]=i*i
print(Dic)



------------





------------

# Day 4
**Define a class which has at least two methods:**
* **getString: to get a string from console input**
* **printString: to print the string in upper case.**

**Also please include simple test function to test the class methods.**
```
Hints:
Use __init__ method to construct some parameters
```

In [ ]:
# Function is also known as Methods in OOPS
class GetPrint():
  def __init__(self):#Construct
    print("Like Default Construct or Initizes")
    self.name=""

  def getString(self):
    self.name=input("Enter Your Name : ")
  def printString(self):
    print(f"Your Name is {self.name.upper()} , I Love your name")

# Create Class Object
Obj = GetPrint()
Obj.getString()
Obj.printString()



------------





------------

#Day 5
**Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
S**

---

```
suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world 
```



------------





------------

In [ ]:
S = input("Enter the String : ")
L = list(S.split(" "))
print(L)

L = set(L)
print(L)
L = list(L)
print(L)
L = sorted(L)
print(L)
print(" ".join(L))

In [ ]:
US = input("Enter your String for removing all duplicate words ")
List = list(US.split(" "))
Set = set(List)
ConList =list(Set)
Sort=sorted(ConList)
print(" ".join(Sort))



------------





------------

#Day 6
**Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence**

---

```
Example:
0100,0011,1010,1001
Then the output should be:
1010
```

In [ ]:
Map=map(str,input("Enter the Binary Values ").split(","))
print(*Map,type(Map))

List = list(map(str,input("Enter the Binary Values ").split(",")))
print(List)
temp=list()
for i in List:

  #Binary to Decimal , int Covert Two Base 
  if (int(i,2)%5==0):
    temp.append(i)
print(",".join(temp))



------------





------------

#Day 7

**Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line**

In [ ]:
List=[]
for i in range(1000,3001):
  temp=str(i)  # Convert to string for access each digit
  if (int(temp[0])%2==0 and int(temp[1])%2==0 and int(temp[2])%2==0 and int(temp[3])%2==0):
    List.append(temp) # String only Append
print(",".join(List))

In [ ]:
# Same Problem Extra find How many numbers in that condition

LisT=[]
Count=0
for i in  range(1000,3001):
  temp=str(i)
  if (int(temp[0])%2==0 and int(temp[1])%2==0 and int(temp[2])%2==0 and int(temp[3])%2==0):
    Count+=1
    LisT.append(temp)
print(LisT)
print(Count)



------------





------------

#Day 8
**Write a program that accepts a sentence and calculate the number of letters and digits.**



```
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3
```

In [ ]:
# Using in-bulid function isdigit and isalpha
U = input (" Enter the word ")
Li=list(U) # For Seprate each letter
print(Li)
digit=0
letter=0
print(U[1])
print(len(Li))
for i in range(len(Li)):
  if U[i].isdigit():
    digit+=1
  elif U[i].isalpha():
    letter+=1

print(f"No of Digit is {digit}")
print(f"No of Letter is {letter}")

#Day 9
**Use a list comprehension to store each odd number in a list. The list is input by a sequence of comma-separated numbers.**



---




```
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9
```

In [ ]:
#Odd Numbers

Input = input("Enter your the value.. : ")


List = [i for i in Input.split(",") if int(i)%2!=0 ]
print(",".join(List))

In [ ]:
# Even Numbers
Inputs=input("Enter your number : ")
Lists=[ i for i in Inputs.split(",") if int(i)%2==0 ]
print(",".join(Lists))



------------





------------

#Day 10
**Write a program that computes the net amount of a bank account based a transaction log from console input.**


---





```
The transaction log format is shown as following:
D 100
W 200
D means deposit while W means withdrawal.**
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500
```

In [ ]:
#Logical Thinking
# Using while loop (Condition)
Balance =0

while True:
  Input=input("Enter the Amount : ").upper()
    # Empty string that means when enter the empty input block that time the program is stopped then return the balance amount
  if Input =="":
    break
   # Saprate the input mode and amount ..mode is like D or W  
  Mode,Amount=Input.split(" ")
  
  # Amount in String format so Converts into Int
  if (Mode == "D"):
     Balance+=int(Amount)
  elif (Mode == "W"):
      Balance-=int(Amount)
  else:
    print("Enter Correct Mode")
print(f"Your net amount is {Balance}")

In [ ]:
# USInput = User Input and USAmount = User Amount
Check=['d','D','w',"W"]
NetBalance = 0
print("Enter your mode and amount with speace separate like( D amount or W amount ) :")
while True:  
  USInput = input("\n Enter your mode and amount :  ").upper()
  if USInput =="":
    break
  elif USInput in  Check:
    continue
  Mode,USAmount=USInput.split(" ")
  if (Mode=="D"):    
    NetBalance +=int(USAmount)
  elif (Mode=="W" ):
    if (NetBalance >= int(USAmount)):      
      NetBalance -=int(USAmount)
    else:
       print("\n Insufficience Amount ")
       break
  else:
        print("\n Please Enter Vaild Mode and Amount")
print(f" \n Your Close Balance is {NetBalance} ")



------------





------------

#Day 11
**A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:**
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.


```
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1
```

In [ ]:
#Doubt Check what is splitline
# Regular expression
import re
Result = list()
Input=input("Enter the password : ")
List=Input.split(",")
for i in List:
  # For Checking 5 and 6
    
  if len(i)<6 or len(i)>12:
    continue
  else:
    pass

  if not re.search("[a-z]",i):
    continue
  elif not re.search("[0-9]",i):
    continue
  elif not re.search("[A-Z]",i):
    continue
  elif not re.search("[@#$]",i):
    continue
  else:
    pass 
  Result.append(i)
    
print("".join(Result))

Enter the password : ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1



------------





------------

#Day 12
A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.


```

The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
¡­
The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
```




```
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2
```
##Find-the-Distance-Between-Two-Points
![alt text](https://www.wikihow.com/images/thumb/6/63/Find-the-Distance-Between-Two-Points-Step-6.jpg/aid2897060-v4-728px-Find-the-Distance-Between-Two-Points-Step-6.jpg.webp)




------------





------------

In [ ]:
import math
pos=[0,0]
print(dir(math))
while True:
  Input = input("Enter your Move and Value : ").upper()
  if Input == "":
    break
  Move,Value = Input.split(" ")
  if Move == "UP" or Move == "U":
    pos[0]+=int(Value)
  elif Move == "Down" or Move == "D":
    pos[0]-=int(Value)
  elif Move == "LEFT" or Move == "L":
    pos[1]-=int(Value)
  elif Move == "RIGHT" or Move == "R":
    pos[1]+=int(Value)
  else:
      pass

print(round(math.sqrt((pos[1]**2) + (pos[0]**2))))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']
Enter your Move and Value : u 5
Enter your Move and Value : d 3
Enter your Move and Value : l 2
Enter your Move and Value : r 2
Enter your Move and Value :
2

#Day 13
**Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10]**

#Day 14

**Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].**

#Day 15

**Write a function to compute 5/0 and use try/except to catch the exceptions**

#Day 16

**Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.**


```
Example:
If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

john
```

#Day 17

```
The Fibonacci Sequence is computed based on the following formula:


f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1

Please write a program to compute the value of f(n) with a given n input by console.

Example:
If the following n is given as input to the program:

7

Then, the output of the program should be:

13
```

#Day 18
**Given a number z, determine whether the given number is Armstrong number or not**



```
Input : 153
Output : 153 is an Armstrong number.

Explanation
1*1*1 + 5*5*5 + 3*3*3 = 153
```

#Day 19
**Find the length of array**



```
Input : 1,2,3,4
Output : 4


```

#Day 20
**Python program to find second largest number in a list**


```
Input : 10,5,20,2,3
Output : 10
```

#Day 21

```
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods
```

#Day 22



```
Count the Number of matching characters in a pair of string
Given a pair of non empty strings. Count the number of matching characters in those strings (consider the single count for the character which have duplicates in the strings)


Input : str1 = 'abcbc'
        str2 = 'cda'
Output : 2 
(i.e. matching characters :- a,c)
```

#Day 23

**Find length of a string in python**

#Day 24

**Remove Duplicates Function Without using set()**

#Day 25

**Find Whether a given number is Positive or Negative**

#Day 26
**Find sum of Digits of a Number**



```
input : 120
output : 3
```

#Day 27

**Find the reverse of given integer**

#Day 28

**Find number is strong number or not!**



```
Input : 145
Output : Strong Number

Explanation:
1!+4!+5!=145
```

#Day 29
**Count the number of vowels in a string**



```
Input : Techsiddhar
Output : 3 
```

#Day 30

**Check if two string are Anagram or Not**



```
Input : listen
        silent

output : Anagram String
```

#Day 31
**How many letter remove to make a string Anagram**



```
Input : sky
        fly
      
Output : 4
```

#Day 32
**Python program to swap two elements in a list**



```
Input : Enter the list = 13, 35, 22, 10
        pos1 = 1
        pos2 = 3

Output : [22, 35, 13, 10]
```

#Day 33

**Common Divisors of Two Numbers**



```
Input : a = 10
        b = 30

Output: 4

Explain : common divisor are 1,2,5,10
```

#Day 34
**Difference between sums of odd and even digits**


```
Input : 1212112
Output : Yes
Explanation:-
the odd position element is 2+2+1=5
the even position element is 1+1+1+2=5
the difference is 5-5=0.so print yes.

Input :12345
Output : No
Explanation:-
the odd position element is 1+3+5=9
the even position element is 2+4=6
the difference is 9-6=3 not  equal
to zero. So print no.

```

#Day 35
**Average of Cubes of first N natural numbers**


```
Input: N = 2
Output: 4.5
Explanation:
For integer N = 2,
We hvae ( 13 + 23 ) = 1 + 8 = 9
average = 9 / 2 that is 4.5
```

#Day 36

**Program for GCD of two numbers**



```
Input  : 2,4

Output : 2
```

#Day 37
**Check if binary representation is palindrome**


```
Input : n = 9
Output : True
Binary representation of n=9 is 1001 which 
is palindrome as well.
```

#Day 38

**Find pair with given sum in an array**



```
Given an unsorted array of integers, find a pair with given sum in it.
Input:arr = [8, 7, 2, 5, 3, 1]
      sum = 10
Output:
Pair found at index 0 and 2 (8 + 2)
  or
Pair found at index 1 and 4 (7 + 3)
```

#Day 39

**Move all zeros present in an array to the end**



```

Input:  { 5, 0, 8, 2, 3, 0, 4, 0, 1 }

Output: { 5, 8, 2, 3, 4, 1, 0, 0, 0 }
```

#Day 40

**Shuffle a given array of elements**



```
Input:  [1, 2, 3, 4, 5, 6]

Output: [6, 2, 3, 1, 4, 5]
```

#Day 41
**find mirror characters in a string**



```
Input : N = 3
        paradox
Output : paizwlc

We mirror characters from position 3 to end
```

#Day 42
**Convert list to Python array**

#Day 43

**Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.**

#Day 44

**Find a Maximum Sum Subarray (Kadane's Algorithm)**




```
Input : -2, -3, 4, -1, -2, 1, 5, -3

Output : 7
```

#Day 45

**Check if an Array is Formed Consecutive Integers**




```
Input : {-1,5,4,2,1,3,0}

Output : Array contains Consecutive Integers
```

#Day 46
**In-place merge two sorted arrays**

Given two sorted arrays X[] and Y[] of size m and n each, merge elements of X[]  with elements of array Y[]  by maintaining the sorted order. i.e. fill X[]  with first m smallest elements and fill Y[]  with remaining elements.



```
Input:
X[] = { 1, 4, 7, 8, 10 }
Y[] = { 2, 3, 9 }

Output: 
X[] = { 1, 2, 3, 4, 7 }
Y[] = { 8, 9, 10 }
```

#Day 47
**Find missing term in Sequence in Logarithmic Time O(log(n))**




```
Input : [5,7,9,11,15]

Output: 13
```

#Day 48

**String slicing in Python to rotate a string**



```
Input : s = "qwertyu" 
        d = 2
Output : Left rotation : "ertyuqw"
         Right rotation : "yuqwert"
```

#Day 49

**Count dictionaries in a list in Python**


```
Input : l = [10, {‘ok’ : 1}, {‘ok1’ : 2, ‘ok2’ : 3}, 20]

Output : 2

```

#Day 50

**Rod Cutting Problem**

Given a rod of length n and list of prices of rod of length i where 1 <= i <= n, find the optimal way to cut rod into smaller rods in order to maximize profit.




```
Input : length[] = [1, 2, 3, 4, 5, 6, 7, 8]

        price [] = [1, 5, 8, 9, 10, 17, 17, 20]

        n=4

Output : profit is 10
```

#Day 51

**Sort elements by frequency**
Print the elements of an array in the decreasing frequency if 2 numbers have same frequency then print the one which came first.


```
Input:  arr = {2, 5, 2, 8, 5, 6, 8, 8}
Output: arr = {8, 8, 8, 2, 2, 5, 5, 6}
```

#Day 52

**Count Inversions in an array**


two elements a[i] and a[j] form an inversion if a[i] > a[j] and i < j



```
Input: arr = {8, 4, 2, 1}
Output: 6

Explanation: Given array has six inversions:
(8,4), (4,2),(8,2), (8,1), (4,1), (2,1)
```

#Day 53

**Find minimum difference between any two elements**


```
Input  : [1, 19, -4, 35, 38, 25, 120];
Output : 3

Minimum difference is between 35 and 38
 

```

#Day 54
**Chocolate Distribution Problem**

Given an array of n integers where each value represents number of chocolates in a packet. Each packet can have variable number of chocolates. There are m students, the task is to distribute chocolate packets such that:

Each student gets one packet.

The difference between the number of chocolates in packet with maximum chocolates and packet with minimum chocolates given to the students is minimum.

```
Input : arr= {3, 4, 1, 9, 56, 7, 9, 12}
m = 5
Output: Minimum Difference is 6
The set goes like 3,4,7,9,9 and the output
is 9-3 = 6
```

#Day 55
**Sort even-placed elements in increasing and odd-placed in decreasing order**

We are given an array of n distinct numbers. The task is to sort all even-placed numbers in increasing and odd-placed numbers in decreasing order. The modified array should contain all sorted even-placed numbers followed by reverse sorted odd-placed numbers



```
Input: arr= {3, 1, 2, 4, 5, 9, 13, 14, 12}

Output: {2, 3, 5, 12, 13, 14, 9, 4, 1}

Even-place elements : 3, 2, 5, 13, 12
Odd-place elements : 1, 4, 9, 14
Even-place elements in increasing order : 
2, 3, 5, 12, 13
Odd-Place elements in decreasing order : 
14, 9, 4, 1
```

#Day 56
**Sorting Big Integers**

Given a array of n positive integers where each integer can have digits upto 106, print the array elements in ascending order



```
Input: arr= [3643641264874311, 451234654453211101231, 4510122010112121012121]
Output: 3641264874311 451234654453211101231 4510122010112121012121
```

#Day 57
**Find Surpasser Count of each element in array**
A surpasser of an element of an array is a greater element to its right, therefore x[j] is a surpasser of x[i] if i < j and x[i] < x[j]. The surpasser count of an element is the number of surpassers. Given an array of distinct integers, for each element of the array find its surpasser count i.e. count the number of elements to the right that are greater than that element.



```
Input:  [2, 7, 5, 3, 0, 8, 1]
Output: [4, 1, 1, 1, 2, 0, 0]
```

#Day 58
**Sort an array in wave form**

Given an unsorted array of integers, sort the array into a wave like array. An array ‘arr[0..n-1]’ is sorted in wave form if arr[0] >= arr[1] <= arr[2] >= arr[3] <= arr[4] >= …..



```
 Input : a = {3, 6, 5, 10, 7, 20}
 Output: a = {6, 3, 10, 5, 20, 7} OR
                 any other array that is in wave form
```

#Day 59

**Sort elements on the basis of number of factors**


Given an array of positive integers. Sort the given array in decreasing order of number of factors of each element, i.e., element having the highest number of factors should be the first to be displayed and the number having least number of factors should be the last one. Two elements with equal number of factors should be in the same order as in the original array.



```
Input : {5, 11, 10, 20, 9, 16, 23}
Output : 20 16 10 9 5 11 23
Number of distinct factors:
For 20 = 6, 16 = 5, 10 = 4, 9 = 3
and for 5, 11, 23 = 2 (same number of factors
therefore sorted in increasing order of index)
```

#Day 60

**Program to check if an array is sorted or not**

Given an array of size n, write a program to check if it is sorted in ascending order or not. Equal values are allowed in array and two consecutive equal values are considered sorted.



```
Input : 20 21 45 89 89 90
Output : Yes

Input : 20 20 78 98 99 97
Output : No
```

#Day 61
**Retain Numbers in String**

we can have a problem in which we need to perform the removal of all the characters other than integers




```
Input : test_str = "Hello1 world"
Output : 1
```

#Day 62
**Group Similar Start and End character words**

we can have problem in which we need to group all the words on basis of front and end characters.



```
The original string is : Techsiddhar is best and bright for programmers
The grouped dictionary is : {'Tr': {'echsiddha'}, 'is': {''}, 'bt': {'es', 'righ'}, 'ad': {'n'}, 'fr': {'o'}, 'ps': {'rogrammer'}}
```

#Day 63

**Vowel indices in String**

problem in which we need to extract indices of vowels in list



```
Input : Tech Siddhar

Output : [1,6,10]
```

#Day 64

**Create Flat Lists Out Of Lists**

To make a simple list out of a list of lists


```
Input : l= [[1,2],[3,4],[5,6]]

Output : [1, 2, 3, 4, 5, 6]
```

#Day 65

**Size of string in memory**

we require to get the size of the string, i.e the length of it



```
Input : TechSiddhar

Output : 60

```

#Day 66

**Program for Check if all digits of a number divide it**

Given a number n, find whether all digits of n divide it or not



```
Input : 122
Output : Yes
122 % 1 == 0, 122 % 2 == 0, and 122 % 2 == 0.

Input : 123
Output : No
```

#Day 67

**Add two number without using Add operator**



```
Input : 10 20

Output : 30

Binary value of 10 : 0101

Binary value of 20 : 10100

                     11110
```

#Day 68

**Smallest of three integers without comparison operators**

Write a program to find the smallest of three integers, without using any of the comparison operators.



```
Input : 10 20 30

Output : 10
```

#Day 69

**Check if binary representations of two numbers are anagram**




```
Input : a = 8, b = 4 
Output : Yes
```

#Day 70

**Remove duplicate values in dictionary**

we need to perform the removal of all the duplicate values of dictionary, and we are not concerned if any key get removed in the process



```
Input : {"tech":20,"is":20,"siddhar":10,"Youtube":12,"channel":15}

Output : {"tech":20,"siddhar":10,"Youtube":12,"channel":15}
```

#Day 71

**Check if two strings are Rotationally Equivalent**

check if one string can be derived from other upon left or right rotation



```
Input : str1 = ‘siddhar’, str2 = ‘ddharsi’
Output : Yes


```

#Day 72

**Find Words with both alphabets and numbers**

we can have problem in which we need to extract certain words with contain both numbers and alphabets



```
Input : Tech12 Sid11dhar i3s Bes1t progr88amming YouTub5e chan6nel i3n tamilnadu or w3orld

Output : Tech12 Sid11dhar i3s Bes1t progr88amming YouTub5e chan6nel i3n w3orld

```

#Day 73

**Subtract two list elements if element in first list is greater**

Given two list, If element in first list in greater than element in second list, then subtract it, else return the element of first list only.




```
Input:
l1 = [10, 20, 30, 40, 50, 60]
l2 = [60, 50, 40, 30, 20, 10]

Output:
[10, 20, 30, 10, 30, 50]
```

#Day 74

check if the given string is IPv4 or IPv6 or Invalid




```
Input : “192.168.0.1”
Output : IPv4
Explanation : It is a valid IPv4 address

Input : “2001:0db8:85a3:0000:0000:8a2e:0370:7334”
Output : IPv6
Explanation : It is a valid IPv6 address

Input : “255.32.555.5”
Output : Invalid
Explanation : It is an invalid IPv4 address as the 3rd octet value(i.e 555) is greater 255.
```

#Day 75

**find the Strongest Neighbour**

Given an array arr[] of N positive integers. The task is to find the maximum for every adjacent pair in the array.



```
Input: 1 2 2 3 4 5
Output: 2 2 3 4 5

Input: 5 5
Output: 5
```

#Day 76

**Intersection of two String**

One of the string operations can be computing the intersection of two strings i.e, output the common values that appear in both the strings



```
Input  : str1="Techsiddhar"
         str2="YouTube Channel"

Output : Teha
```

#Day 77

**Selective Key Values Summation**

we can have a problem in which we desire to get summation of certain keys’ values in dictionary



```
Input : test_dict = {'tech' : 50, 'siddhar' : 50, 'youtube' : 7}
        
        key_list =['tech', 'siddhar']

Output : 100

```

#Day 78

**Filter Range Length Tuples**

we might desire to filter records in such a way in which we need to discard records that do not contains exact number of elements required to constitute a record and lie in a range



```
Input  : (4, ), (2, 87), (10, 16, 19), (1,2,2,6,3,3)(1,5, 6, 8, 2), (1, 0)
         start=2
         end=3
      
Output : (2, 87), (10, 16, 19), (1, 0)
```

#Day 79

**XOR operation**


we can have a problem in which we may need to perform mathematical bitwise XOR operation



```
Input  : (10, 4, 6, 9)
         (5, 2, 3, 3)

Output : (15, 6, 5, 10)
```




![alt text](https://www.codespeedy.com/wp-content/uploads/2019/08/Screenshot-from-2019-08-04-12-01-49.png)

#Day 80

**Assign Reversed Values in Dictionary**

Given a dictionary, assign each key, values after reverting the values of dictionary




```
Input : {1 : 4, 2 : 5, 3 : 6}

Output : {1 : 6, 2 : 5, 3 : 4}
```

#Day 81

**Get next key in Dictionary**

we can have problem in which we need to extract the next key in order of dictionary



```
Input  : {'techsiddhar': 1, 'youtube': 2, 'channel':3 }
          key ="youtube"

Output : channel
```

#Day 82

**Remove digits from Dictionary String Values List**


Given list of dictionaries with string list values, remove all the numerics from all strings



```
Input : {‘tech’ : [“te3ch is prefix”, “siddhar i7s suffix”], ‘youtube’ : [“you7tube ch99annel ”, “Tamil la0nguage”]}


Output : {‘tech’ : [“tech is prefix”, “siddhar is suffix”], ‘youtube’ : [“youtube channel ”, “Tamil language”]}
```

#Day 83

**We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?**

#Day 84

Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

#Day 85

Please write Program without using if/else statements to verify that every number in the list [2,4,6,8] is even

#Day 86

**Zipping two unequal length list in dictionary**

Given two lists of possibly unequal lengths, the task is to zip two lists in dictionary such that the list with shorter length will repeat itself.



```
Input : ['a', 'b', 'c', 'd', 'e'] 

        [1, 2, 3] 


Output : {'a': 1, 'b': 2, 'c': 3, 'd': 1, 'e': 2}
```

#Day 87

**Intersect two dictionaries through keys**

Given two dictionaries, the task is to find the intersection of these two dictionaries through keys


```
Input  : {‘vashu’: 5, ‘manjeet’: 10, ‘nikhil’: 1, ‘akshat’: 15}

         {‘nikhil’: 1, ‘me’: 56, ‘akshat’: 15}

Output : {‘nikhil’: 1, ‘akshat’: 15}
```

#Day 88

**Please write a program to print the running time of execution of "Tech Siddhar" for 100 times**

#Day 89

**Given an array arr[] of N non-negative integers representing height of blocks at index i as Ai where the width of each block is 1. Compute how much water can be trapped in between blocks after raining. Structure is like below:**



```
| |
|_|
```




**We can trap 2 units of water in the middle gap**


**The first line of input contains an integer T denoting the number of test cases. The description of T test cases follows. Each test case contains an integer N denoting the size of the array, followed by N space separated numbers to be stored in array.**

![watertrap.png]()

```
Input:
2
4
7 4 0 9
3
6 9 9

Output:
10
0
```

#Day 90

**Given an array of positive integers. Your task is to find the leaders in the array.**

**Note: An element of array is leader if it is greater than or equal to all the elements to its right side. Also, the rightmost element is always a leader.**

**The first line of input contains an integer T denoting the number of test cases. The description of T test cases follows.The first line of each test case contains a single integer N denoting the size of array.The second line contains N space-separated integers A1, A2, ..., AN denoting the elements of the array.**



```
Input:
3
6
16 17 4 3 5 2
5
1 2 3 4 0
5
7 4 5 7 3
Output:
17 5 2
4 0
7 7 3
```

#Day 91

**Last index of One**

**Given a string S consisting only '0's and '1's,  print the last index of the '1' present in it.**

**First line of the input contains the number of test cases T, T lines follow each containing a stream of characters.**


```
Input:
2
00001
0
Output:
4
-1
```

#Day 92

**Given an array arr[] and a number K where K is smaller than size of array, the task is to find the Kth smallest element in the given array. It is given that all array elements are distinct.**

**The first line of input contains an integer T, denoting the number of testcases. Then T test cases follow. Each test case consists of three lines. First line of each testcase contains an integer N denoting size of the array. Second line contains N space separated integer denoting elements of the array. Third line of the test case contains an integer K.**




```
Input:
2
6
7 10 4 3 20 15
3
5
7 10 4 20 15
4
Output:
7
15
```

#Day 93

**Comparing arrays**


**This problem helps one to understand the key concepts of an array(list) in Python. Two arrays are said to be the same if they contain the same elements and in the same order. However, in this problem, we will compare two arrays to see if they are same, but with a slight twist. Here, two arrays are the same if the elements of one array are squares of elements of other arrays and regardless of the order. Consider two arrays a and b.**



```
Input  : a = [121, 144, 19, 161, 19, 144, 19, 11]
         b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

Output : True
```

#Day 94

**Givens Two number N and K, our task is to subtract a number K from N until number(N) is greater than zero, once the N becomes negative or zero then we start adding K until that number become the original number(N).
Note : Not allow to use any loop.**



```
Input : N=15,k=5


Output : 15 10 5 0 5 10 15 
```

#Day 95

**Check if a triangle of positive area is possible with the given angles**


**Given three angles. The task is to check if it is possible to have a triangle of positive area with these angles. If it is possible print “YES” else print “NO”.**




```
Input : ang1 = 50, ang2 = 60, ang3 = 70 
Output : YES

Input : ang1 = 50, ang2 = 65, ang3 = 80
Output : NO
```

#Day 96

**Find minimum sum of factors of number**



```
Input : 12
Output : 7
sum of factors in different ways.
12 = 12 * 1 = 12 + 1 = 13
12 = 2 * 6 = 2 + 6 = 8
12 = 3 * 4 = 3 + 4 = 7
12 = 2 * 2 * 3 = 2 + 2 + 3 = 7
Therefore minimum sum is 7

Input : 105
Output : 15
```

#Day 97

**Find largest prime factor of a number**



```
Input: 6
Output: 3
Explanation
Prime factor of 6 are- 2, 3
Largest of them is 3

Input: 15
Output: 5


Input : 25698751364526
```

#Day 97

**Find largest prime factor of a number**



```
Input: 6
Output: 3
Explanation
Prime factor of 6 are- 2, 3
Largest of them is 3

Input: 15
Output: 5


Input : 25698751364526
```

#Day 98

**check if the list contains three consecutive common numbers in Python**



```
Input : 4, 5, 5, 5, 3, 8

Output: 5

Input : 1, 1, 1, 64, 23, 64, 22, 22, 22

Output : 1, 22
```

#Day 99

**Substitute character with its occurrence**



```
Input : Tech siddhar is Tamil programming YouTube channel

        T

Output : 1ech siddhar is 2amil programming You3ube channel
```

#Day 100

**Create an OTP by squaring and concatenating the odd digits of a number**



```
Input: 4365188
Output: 9256

Input: 123456
Output: 4163
```